header {
  width: 60vw;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-height: 70px;
  position: relative; }
  @media only screen and (max-width: 1200px) {
    header {
      width: 100vw; } }
  header .logo {
    padding: 20px; }
  header a {
    display: block;
    text-decoration: none;
    color: #292935;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative; }
    @media only screen and (max-width: 1200px) {
      header a {
        font-size: 18px; } }
    header a:hover::after {
      position: absolute;
      top: 50px;
      left: 20px;
      content: "";
      width: calc(100% - 40px);
      height: 2px;
      background-color: #4044e6; }

button.hamburger {
  display: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0; }
  @media only screen and (max-width: 1200px) {
    button.hamburger {
      display: block; } }

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: static;
  z-index: 3; }
  @media only screen and (max-width: 1200px) {
    .navigation {
      position: absolute;
      left: 0;
      top: 70px;
      flex-direction: column;
      display: none; } }
  .navigation img {
    width: 16px;
    height: 16px; }
  .navigation-link {
    height: 100%; }
    @media only screen and (max-width: 1200px) {
      .navigation-link {
        background-color: #292935;
        width: 200px; }
        .navigation-link a {
          color: #ffffff; } }

.dropdown {
  position: relative; }
  @media only screen and (max-width: 1200px) {
    .dropdown {
      position: static; } }
  .dropdown__wrapper {
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 3;
    display: none;
    background-color: #292935; }
    @media only screen and (max-width: 1200px) {
      .dropdown__wrapper {
        position: static; } }
    .dropdown__wrapper__secondary {
      min-width: 200px;
      padding-left: 20px; }
      .dropdown__wrapper__secondary a {
        font-size: 16px;
        line-height: 35px;
        color: #ffffff;
        padding: 5px; }
        @media only screen and (max-width: 1200px) {
          .dropdown__wrapper__secondary a {
            font-size: 18px;
            font-weight: 300;
            font-family: "Poppins", sans-serif; } }
      .dropdown__wrapper__secondary__thirtiary {
        position: absolute;
        top: 0;
        left: 200px;
        min-width: 180px;
        background-color: #292935;
        display: none;
        padding-left: 20px; }
        @media only screen and (max-width: 1200px) {
          .dropdown__wrapper__secondary__thirtiary {
            position: static; } }

.navigation.active {
  display: flex; }

.active {
  display: block; }
  @media only screen and (max-width: 1200px) {
    .active {
      display: block !important; } }

.banner {
  width: 100vw;
  min-height: 60vh;
  height: 60vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-image: url("../img/banner/pexelsphoto89724.png");
  background-size: cover; }
  .banner__img-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 102%;
    transform: translateY(-2px); }
  .banner__title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    color: white;
    font-family: 'Poppins', sans-serif; }
    @media only screen and (max-width: 1200px) {
      .banner__title {
        top: 20%; } }
    @media only screen and (max-width: 900px) {
      .banner__title {
        top: 10%; } }
    .banner__title-secondary {
      width: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 20px;
      color: white;
      font-family: 'Poppins', sans-serif; }
      @media only screen and (max-width: 1200px) {
        .banner__title-secondary {
          top: 40%; } }
      @media only screen and (max-width: 600px) {
        .banner__title-secondary {
          top: 30%; } }

.application {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: -50px; }
  .application__image {
    transform: translateY(-25%); }
    @media only screen and (max-width: 1200px) {
      .application__image {
        max-width: 90vw;
        height: auto;
        transform: translateY(-15%);
        margin-bottom: -30px; } }

.icons {
  position: relative;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media only screen and (max-width: 1200px) {
    .icons {
      flex-direction: column; } }
  .icons__icon {
    width: 20%;
    padding: 20px; }
    @media only screen and (max-width: 1200px) {
      .icons__icon {
        width: 100%; } }
    .icons__icon-title {
      width: 100%;
      color: #292935;
      padding: 10px;
      font-size: 36px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      text-align: center; }
      .icons__icon-title h1 {
        max-width: 600px;
        margin: 0 auto; }
      .icons__icon-title h2 {
        max-width: 600px;
        margin: 0 auto; }
    .icons__icon-img {
      padding: 15px; }
    .icons__icon-text {
      color: #a1a1a1;
      text-align: center;
      padding: 10px;
      line-height: 24px;
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
      font-weight: 400; }
    .icons__icon-link {
      width: 100%; }
      .icons__icon-link a {
        color: #4044e6;
        padding: 10px;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        text-decoration: none; }
  .icons__title {
    font-size: 48px;
    color: #292935;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 10px; }
    .icons__title-secondary {
      font-size: 16px;
      color: #a1a1a1;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      text-align: center;
      padding: 10px; }
  .icons__icon {
    text-align: center; }

.video {
  width: 100vw;
  min-height: 60vh;
  height: 60vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-image: url("../img/video/pexelsphoto26939.png");
  background-size: cover; }
  @media only screen and (max-width: 900px) {
    .video {
      height: 85vh; } }
  @media only screen and (max-width: 900px) {
    .video__img {
      width: 70px;
      height: auto; } }
  @media only screen and (max-width: 600px) {
    .video__img {
      width: 60px;
      height: auto; } }
  .video__img-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    transform: translateY(0); }
  .video__img-play {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer; }
    @media only screen and (max-width: 600px) {
      .video__img-play {
        top: 70%; } }
  .video-play {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 23px;
    color: white; }
    @media only screen and (max-width: 600px) {
      .video-play {
        top: 87%; } }
  .video__text {
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 23px;
    line-height: 26px;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); }
    @media only screen and (max-width: 1200px) {
      .video__text {
        top: 10%;
        width: 90%; } }
    @media only screen and (max-width: 900px) {
      .video__text {
        top: 0;
        width: 100%;
        padding: 5px; } }
    @media only screen and (max-width: 600px) {
      .video__text {
        padding: 5px;
        top: 0;
        width: 100%; } }
    @media only screen and (max-width: 400px) {
      .video__text {
        font-size: 20px;
        line-height: 23px; } }
  .video__signature {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase; }
    @media only screen and (max-width: 1200px) {
      .video__signature {
        top: 40%; } }
    @media only screen and (max-width: 900px) {
      .video__signature {
        top: 50%; } }
    @media only screen and (max-width: 600px) {
      .video__signature {
        padding: 5px;
        top: 60%; } }

.people {
  position: relative; }
  .people-img {
    position: absolute;
    height: 180px;
    top: -57px;
    left: 50%; }
    @media only screen and (max-width: 1200px) {
      .people-img {
        transform: scale(0.5);
        top: -61px; } }
  .people__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-55px); }
    .people__wrapper__cover {
      margin: 10px;
      opacity: 0.8;
      transition: .2s; }
      @media only screen and (max-width: 1200px) {
        .people__wrapper__cover {
          margin: 5px;
          height: 52px;
          width: auto;
          transform: translateY(40px); } }
      .people__wrapper__cover:hover {
        opacity: 0; }
  .people__logos {
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-30px); }
    @media only screen and (max-width: 1200px) {
      .people__logos {
        display: none; } }
    .people__logos__logo {
      filter: invert(30%);
      width: 125px;
      padding: 10px; }
  .people__heading {
    max-width: 658px;
    font-size: 36px;
    line-height: 40px;
    color: #292935;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 50px auto 50px auto; }
  .people__text {
    max-width: 752px;
    font-size: 16px;
    line-height: 24px;
    color: #a1a1a1;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0 auto; }
    .people__text p {
      padding: 10px; }
    .people__text-coloured {
      max-width: 100%;
      width: 100%;
      color: #4044e6;
      font-weight: 600; }
  .people-img:nth-child(1) {
    top: -57px;
    transform: translateX(-397px);
    clip-path: circle(50px at 55% 35%); }
    @media only screen and (max-width: 1200px) {
      .people-img:nth-child(1) {
        top: -61px;
        transform: translateX(-266px) scale(0.5); } }
  .people-img:nth-child(2) {
    transform: translateX(-272px);
    clip-path: circle(50px at 55% 35%); }
    @media only screen and (max-width: 1200px) {
      .people-img:nth-child(2) {
        transform: translateX(-204px) scale(0.5); } }
  .people-img:nth-child(3) {
    transform: translateX(-81px);
    clip-path: circle(50px at 25% 35%); }
    @media only screen and (max-width: 1200px) {
      .people-img:nth-child(3) {
        transform: translateX(-120px) scale(0.5); } }
  .people-img:nth-child(4) {
    top: -75px;
    transform: translateX(30px);
    clip-path: circle(50px at 35% 45%); }
    @media only screen and (max-width: 1200px) {
      .people-img:nth-child(4) {
        top: -71px;
        transform: translateX(-53px) scale(0.5); } }
  .people-img:nth-child(5) {
    top: -75px;
    transform: translateX(128px);
    clip-path: circle(50px at 60% 45%); }
    @media only screen and (max-width: 1200px) {
      .people-img:nth-child(5) {
        top: -71px;
        transform: translateX(14px) scale(0.5); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fefeff;
  overflow-x: hidden; }
