.application{
  width:100%;
  display: flex;
  justify-content: center;
  //overflow: hidden;
  //z-index:3;
  margin-bottom: -50px;
  &__image{
    transform: translateY(-25%);

    @include respond(tab-land){
      max-width: 90vw;
      height:auto;
    }
  }
}