.banner{
  width:100vw;
  min-height: 60vh;
  height:60vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-image: url("../img/banner/pexelsphoto89724.png");
  background-size: cover;

  &__img{
    //transform: translateY(-50%);
    //width:100%;
    //height:auto;

    &-cover{
      position:absolute;
      top:0;
      left:0;
      width:auto;
      height:100%;
      transform: translateY(0);
    }
  }

  &__title{
    position: absolute;
    top:30%;
    left:50%;
    transform: translateX(-50%);
    font-size: 48px;
    color:rgba(255,255,255,255);
    font-family: 'Poppins', sans-serif;

    &-secondary{
      position: absolute;
      top:50%;
      left:50%;
      transform: translateX(-50%);
      font-size: 20px;
      color:rgba(255,255,255,255);
      font-family: 'Poppins', sans-serif;
    }
  }
}