.banner{
  width:100vw;
  min-height: 60vh;
  height:60vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-image: url("../img/banner/pexelsphoto89724.png");
  background-size: cover;

  &__img{
    &-cover{
      position:absolute;
      top:0;
      left:0;
      width:auto;
      height:102%;
      transform: translateY(-2px);
    }
  }

  &__title{
    position: absolute;
    top:30%;
    left:50%;
    transform: translateX(-50%);
    font-size: 48px;
    color:rgba(255,255,255,255);
    font-family: 'Poppins', sans-serif;

    @include respond(tab-land){
      top:20%;
    }
    @include respond(phone){
      top:10%;
    }

    &-secondary{
      width:90%;
      position: absolute;
      top:50%;
      left:50%;
      transform: translateX(-50%);
      font-size: 20px;
      color:rgba(255,255,255,255);
      font-family: 'Poppins', sans-serif;

      @include respond(tab-land){
        top:40%;
      }
      @include respond(phone){
        top:30%;
      }
    }
  }
}