header{
  width:60vw;
  max-width:1400px;
  display:flex;
  justify-content: space-between;
  margin:0 auto;
  max-height: 70px;
  position:relative;

  @include respond(tab-land){
    width:100vw;
  }

  .logo{
    padding:$menu-padding;
  }

  a{
    display: block;
    text-decoration: none;
    color:rgba(41,41,53,255);
    padding:$menu-padding;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size:16px;
    position:relative;

    @include respond(tab-land){
      font-size:18px;
    }

    //&:hover::after{
    //  position:absolute;
    //  top:67px;
    //  left:$menu-padding;
    //  content:"";
    //  width: calc(100% - 40px);
    //  height:3px;
    //  background-color: rgba(64, 68, 230, 255);
    //}
  }

  .navigation-link > a:hover::after{

      position:absolute;
      top:67px;
      left:$menu-padding;
      content:"";
      width: calc(100% - 40px);
      height:3px;
      background-color: rgba(64, 68, 230, 255);

  }


}

button.hamburger{
  display:none;
  outline:none;
  position:absolute;
  top:0;
  right:0;
  @include respond(tab-land){
    display:block;
  }
}

.navigation{
  display:flex;
  flex-direction: row;
  align-items: center;
  //position: relative;
  position: static;
  z-index:3;

  @include respond(tab-land){
    position: absolute;
    left:0;
    top:70px;
    flex-direction: column;
    display:none;
  }

  &__searchWrapper{
    display:none;
    position:fixed;
    top:0;
    right:150px;
    max-width: 180px;
    text-align: center;

    @include respond(big-desktop){
      right:100px;
    }
    @include respond(desktop){
      right:20px;
    }
    @include respond(tab-land){
      position:relative;
      display:block;
      max-width: 100%;
      right:0;
    }
  }

  input{
    border-bottom: 1px solid #292935;

    @include respond(tab-land){
      border-bottom: 1px solid #ffffff;
    }
  }
  &-input{
    width:80%;
    outline:none;
    border:none;
    font-size: 18px;
    //line-height: 64px;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #292935;
    background-color: #ffffff;

    @include respond(tab-land){
      background-color: #292935;
      color: #ffffff;
    }

    &::placeholder{
      color: #292935;
      @include respond(tab-land){
        color: #ffffff;
      }
    }
  }

  &-img{
    display:none;
    position: absolute;
    right:5px;
    top:50%;
    transform: translateY(-50%);
    filter: invert(100%);
    @include respond(tab-land){
      display:block;
    }
  }

  img{
    width:16px;
    height:16px;
  }

  &-link{
    height:100%;
    &:first-child{
      //position: relative;
    }
    @include respond(tab-land){
      background-color: #292935;
      width:$menu-width;
      a{
        color: #ffffff;
      }
    }
  }
}

.dropdown{
  position: relative;

  @include respond(tab-land){
    position:static;
  }
  &__wrapper{
    position: absolute;
    top:70px;
    left:0;
    z-index: 3;
    display:none;
    background-color: #292935;

    @include respond(tab-land){
      position:static;
    }

    &__secondary{
      min-width: $menu-width;
      padding-left:$menu-padding;

      a{
        font-size: 16px;
        line-height: 35px;
        color: #ffffff;
        padding:5px;
        font-family: myriad-pro-regular, sans-serif;
        font-style: normal;
        font-weight: 400;
        &:hover{
          transform: translateX(15px);
          color: #4044e6;
        }

        @include respond(tab-land){
          font-size: 18px;
          font-weight: 300;
          font-family: "Poppins", sans-serif;
        }
      }

      &__thirtiary{
        position: absolute;
        top:0;
        left: $menu-width;
        min-width:$menu-width - $menu-padding;
        background-color: #292935;
        display:none;
        padding-left:$menu-padding;
        @include respond(tab-land){
          position:static;
        }
      }
    }

  }


}

.navigation.active{
  display: flex;
}

.navigation__searchWrapper.active{
  display: block !important;
}

.active{
  display: block;
  @include respond(tab-land){
    display: block !important;
  }
}
