.video{
  width:100vw;
  min-height: 60vh;
  height:60vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  background-image: url("../img/video/pexelsphoto26939.png");
  background-size: cover;

  @include respond(tab-port){
    height:85vh;
  }

  &__img{

    @include respond(tab-port){
      width:70px;
      height:auto;
    }

    @include respond(phone){
      width:60px;
      height:auto;
    }

    &-cover{
      position:absolute;
      top:0;
      left:0;
      width:auto;
      height:100%;
      transform: translateY(0);
    }

    &-play{
      position: absolute;
      top:60%;
      left:50%;
      transform: translateX(-50%);
      cursor:pointer;
      @include respond(phone){
        top:70%;
      }
    }
  }

  &-play{
    position: absolute;
    top:85%;
    left:50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size:23px;
    color: rgba(255,255,255,255);
    @include respond(phone){
      top:87%;
    }
  }

  &__text{
    width:50%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size:23px;
    line-height: 26px;
    color: rgba(255,255,255,255);
    position: absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%);

    @include respond(tab-land){
      top:10%;
      width: 90%;
    }

    @include respond(tab-port){
      top:0;
      width: 100%;
      padding:5px;
    }

    @include respond(phone){
      padding:5px;
      top:0;
      width: 100%;
    }
    @include respond(small-phone){
      font-size:20px;
      line-height: 23px;
    }
  }

  &__signature{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size:16px;
    color: rgba(255,255,255,255);
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    @include respond(tab-land){
      top:40%;
    }

    @include respond(tab-port){
      top:50%;
    }

    @include respond(phone){
      padding:5px;
      top:60%;
    }
  }


}